#es-LEGO {

// css reset
html {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
}

figure, figcaption {
  box-sizing: border-box;
  margin: 0;
}

//typography
//LEGO fonts upload
@font-face {
  font-family: "cera_problack";
  src: url("../fonts/cera_pro_black-webfont.woff2") format("woff2"),
    url("../fonts/cera_pro_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cera_probold";
  src: url("../fonts/cera_pro_bold-webfont.woff2") format("woff2"),
    url("../fonts/cera_pro_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cera_proregular";
  src: url("../fonts/cera_pro_regular-webfont.woff2") format("woff2"),
    url("../fonts/cera_pro_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  font-family: cera_problack, "Trebutchet MS", Arial, Helvetica, sans-serif;
}

h2,
h3 {
  font-family: cera_probold, "Trebutchet MS", Arial, Helvetica, sans-serif;
}

li, p {
  font-family: cera_proregular, "Trebutchet MS", Arial, Helvetica, sans-serif;
}

//variables

$es-green01: #00a449;
$es-green02: #008846;
$es-yellow01: #fff472;
$es-yellow02: #ffd100;
$es-orange01: #ff9550;
$es-orange02: #ff7e06;
$es-red: #da1a21;

//for categories
$es-blue-400: #006cb7;
$es-blue-200: #96ceea;
$es-red-400: #9d1c20;
$es-red-200: #dd1a22;
$es-green-400: #00682c;
$es-green-200: #00b143;
$es-yellow-400: #ffad00;
$es-yellow-200: #ffd500;
$es-pink-400: #ff59a1;
$es-pink-200: #ffafd0;
$es-black-400: #000000;
$es-black-200: #c7c1c0;

//utility classes
.es_margin {
  margin: 16px;
}

.es-centered {
  display: grid;
  place-items: center;
  h1 {
    text-align: center;
    font-size: clamp(1rem, 0.8039rem + 0.9804vw, 1.75rem);
    background-color: white;
    padding: 0.5rem;
    border: 3px solid black;
    position: absolute;
  }
  h2 {
    text-align: center;
    font-size: clamp(0.75rem, 0.462rem + 1.1438vw, 1.5rem);
    position: absolute;
    width: 10ch;
  }
}

@media screen and (min-width: 600px) {
  .es-centered {
    h1 {
      background-color: unset;
      border: unset;
    }
  }
}

.es-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  align-content: start;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
}

.es-grid-first {
  grid-column: 1 / 3;
}

@media screen and (min-width: 600px) {
  .es-grid-container {
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
  }
  .es-grid-last {
    grid-column: 3 / 5;
  }
}

.es-grid-item {
  align-content: start;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 3rem;
  align-content: start;
  //justify-content: center;
  align-items: end;
  img {
    padding: 1rem;
    width: 100%;
    height: auto;
  }
}

.es-grid-container-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr;
  justify-items: center;

  &-head-L {
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    padding-inline: 5px;
    img {
      height: max(min(60px), 70%);
      width: auto;
      object-fit: contain;
    }
  }
  &-head-R {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    img {
      min-height: 40%;
      max-height: 50px;
      object-fit: contain;
    }
  }
  &-body {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  &-footer {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: end;
    justify-self: start;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 600px) {
  .es-grid-container-card {
    border-radius: unset;
    &-head-R {
      img {
        max-height: 100px;
      }
    }
  }
}

.es-grid-container-card-3x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  &:hover {
    img {
      transform: scale(1.05);
    }
  }

  img {
    position: absolute;
    bottom: 0;
    height: 78%;
    scale: 100%;
    transition: all 200ms ease-in;
  }

  figcaption {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    place-self: center;
    font-size: clamp(0.875rem, 0.6789rem + 0.9804vw, 1.625rem);
  }
}

// figcaption {
//   height: 3rem;
// }

.es-flex-container-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  align-content: end;
  justify-content: space-evenly;
}

.es-flex-container-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  img {
    max-height: 2rem;
    max-width: 50px;
  }
}

// main styles

.es-main {
  // width: 100%;
  max-width: 1544px;
  margin: auto;
}

.es-centered {
  img {
    width: 100%;
  }
}
.es-figcaption-red {
  padding: 0.7rem;
  
  text-align: center;
  font-family: cera_probold;
  letter-spacing: 0.13rem;
  width: 100%;
  max-height: 3.7rem;
  background-color: $es-red;
  color: white;
  font-size: clamp(0.75rem, 0.5539rem + 0.9804vw, 1.5rem);
}

.es-grid-container .es-grid-item {
  &:nth-child(1) {
    background: linear-gradient(90deg, $es-green01 50%, $es-green02 50%);
  }
  &:nth-child(2) {
    background: linear-gradient(90deg, $es-yellow01 50%, $es-yellow02 50%);
  }
  &:nth-child(3) {
    background: linear-gradient(90deg, $es-orange01 50%, $es-orange02 50%);
  }
  &:nth-child(4) {
    align-self: center;
    background-image: url(../img/04-compre.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
  }
}

#es-categories-age {
  h3 {
    color: white;
  }
  figcaption {
    height: 3rem;
  }
  figure:nth-of-type(1) {
    figcaption {
      background: linear-gradient(90deg, $es-blue-400 50%, $es-blue-200 50%);
    }
  }
  figure:nth-of-type(2) {
    figcaption {
      background: linear-gradient(90deg, $es-red-400 50%, $es-red-200 50%);
    }
  }
  figure:nth-of-type(3) {
    figcaption {
      background: linear-gradient(90deg, $es-green-400 50%, $es-green-200 50%);
    }
  }
  figure:nth-of-type(4) {
    figcaption {
      background: linear-gradient(
        90deg,
        $es-yellow-400 50%,
        $es-yellow-200 50%
      );
    }
  }
  figure:nth-of-type(5) {
    figcaption {
      background: linear-gradient(90deg, $es-pink-400 50%, $es-pink-200 50%);
    }
  }
  figure:nth-of-type(6) {
    figcaption {
      background: linear-gradient(90deg, $es-black-400 50%, $es-black-200 50%);
    }
  }
}

#es-categories-theme {
  .es-grid-container-card:nth-of-type(1) {
    .es-grid-container-card-head-L {
      background-color: #006fba;
    }
    .es-grid-container-card-head-R {
      background-color: #f5bbd7;
    }
  }
  .es-grid-container-card:nth-of-type(2) {
    .es-grid-container-card-head-L {
      background-color: #d25d8b;
    }
    .es-grid-container-card-head-R {
      background-color: #4a2282;
    }
  }
  .es-grid-container-card:nth-of-type(3) {
    .es-grid-container-card-head-L {
      background-color: #000000;
    }
    .es-grid-container-card-head-R {
      background-color: #d60008;
    }
  }
  .es-grid-container-card:nth-of-type(4) {
    .es-grid-container-card-head-L {
      background-color: #ffffff;
    }
    .es-grid-container-card-head-R {
      background-color: #fff374;
    }
  }
  .es-grid-container-card:nth-of-type(5) {
    .es-grid-container-card-head-L {
      background-color: #0c0e0c;
    }
    .es-grid-container-card-head-R {
      background-color: #f1f0f1;
    }
  }
  .es-grid-container-card:nth-of-type(6) {
    .es-grid-container-card-head-L {
      background-color: #ffffff;
    }
    .es-grid-container-card-head-R {
      background-color: #01040b;
    }
  }
  .es-grid-container-card:nth-of-type(7) {
    position: relative;
    .es-grid-container-card-head-L,
    .es-grid-container-card-head-R {
      background-color: #ffd200;
      img {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        max-width: 36%;
      }
    }
  }
  .es-grid-container-card:nth-of-type(8) {
    .es-grid-container-card-head-L {
      background-color: #19325a;
    }
    .es-grid-container-card-head-R {
      background-color: #fec011;
    }
  }
}

#es-categories-other {
  h3 {
    color: white;
    text-transform: none;
  }
  .es-grid-container-card-3x3:nth-of-type(1) {
    background-image: url(../img/animals-bg.png);
    background-size: cover;
    img {
      right: 0;
    }
  }
  .es-grid-container-card-3x3:nth-of-type(2) {
    background-image: url(../img/vehicles-bg.png);
    background-size: cover;
    img {
      right: 0;
    }
  }
  .es-grid-container-card-3x3:nth-of-type(3) {
    background-image: url(../img/gaming-bg.png);
    background-size: cover;
  }
  .es-grid-container-card-3x3:nth-of-type(4) {
    background-image: url(../img/heroes-bg.png);
    background-size: cover;
  }
}

// decorative lines
.es-divider {
  height: 40px;
  margin-block: 40px;
  background-position: right;
  background-size: cover;
}

@media screen and (min-width: 600px) {
  .es-divider {
    background-size: contain;
  }
}

.div-01 {
  background-image: url(../img/divider-01-long.png);
}

.div-02 {
  background-image: url(../img/divider-02-long.png);
}
.div-03 {
  background-image: url(../img/divider-03-long.png);
}

// footer

#es-footer {
  background-image: url(../img/footer-shapes\ -\ mobile.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-block: 2.5rem;
  .es-centered {
    display: grid;
    place-items: center;
    max-width: 80%;
    margin: auto;
    padding: 1rem;
    background-color: white;
    border: 3px solid black;
    h3 {
     text-align: center; 
     font-size: clamp(1.625rem, 1.2655rem + 1.7974vw, 3rem);
     width: 14ch;
     margin-bottom: 1rem;
    }
    ul {
      font-size: 16px;
      text-align: center;
      //margin: 1rem;
      & li:nth-last-of-type(2) {
        margin-top: 1rem;
      }
      li {
        margin-block: 2px;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  #es-footer {
    background-image: url(../img/footer-shapes.png);
    background-size: contain;
    .es-centered {
      max-width: 90%;
      h3 {
      width: unset;
    }
    }
    
    ul {
      
      columns: 4 auto;
      gap: 2.5rem;
      
      li {
        text-align: left;
      }
    }
  }

}
}