//typography
//LEGO fonts upload
@font-face {
  font-family: 'cera_problack';
  src: url('../fonts/cera_pro_black-webfont.woff2') format('woff2'),
       url('../fonts/cera_pro_black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cera_probold';
  src: url('../fonts/cera_pro_bold-webfont.woff2') format('woff2'),
       url('../fonts/cera_pro_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cera_proregular';
  src: url('../fonts/cera_pro_regular-webfont.woff2') format('woff2'),
       url('../fonts/cera_pro_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3 {
    text-transform: uppercase;
  }  

h1 {
  font-family: cera_problack, "Trebutchet MS", Arial, Helvetica, sans-serif;
}

h2, h3 {
  font-family: cera_probold, "Trebutchet MS", Arial, Helvetica, sans-serif;
}

p {
  font-family: cera_proregular, "Trebutchet MS", Arial, Helvetica, sans-serif;
}

//variables

$es-green01: #00a449;
$es-green02: #008846;
$es-yellow01: #fff472;
$es-yellow02: #ffd100;
$es-orange01: #ff9550;
$es-orange02: #ff7e06;
$es-red: #da1a21;

//utility classes
  
.es-centered {
  display: grid;
  place-items: center;
  // position: absolute;
  h1 {
    text-align: center;
    font-size: clamp(1rem, 0.8039rem + 0.9804vw, 1.75rem);
    background-color: white;
    padding: 0.5rem;
    border: 2px solid black;
    position: absolute;
  }
  h2 {
    text-align: center;
    font-size: clamp(0.75rem, 0.462rem + 1.1438vw, 1.5rem);
    position: absolute;
    width: 10ch;
  }
}

@media screen and (min-width: 600px) {
  .es-centered {
    h1 {
      background-color: unset;
      border: unset;
    }
  }
}


.es-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  align-content: start;
  align-items: start;
  justify-content: space-between;
}

@media screen and (min-width: 600px) {
  .es-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.es-grid-item {
  align-content: start;
  display: grid;
  grid-template-rows: 1fr 60px;
  align-content: start;
  justify-content: center;
  align-items: end;
    img {
      padding: 1rem;
      width: 100%;
  height: auto;
    }
    
}

  // main styles
  
  .es-main {
    width: 100vw;
    max-width: 1544px;
  }
  .es-figcaption-red{
     padding: 0.7rem;
     text-align: center;
    font-family: cera_probold;
    letter-spacing: 0.13rem;
    width: 100%;
    //height: 4rem;
     background-color: $es-red;
     color: white;
     font-size: clamp(0.75rem, 0.5539rem + 0.9804vw, 1.5rem);
  }

  .es-grid-container .es-grid-item {
    &:nth-child(1){
      background: linear-gradient(90deg, $es-green01 50%, $es-green02 50%);
    }
    &:nth-child(2){
      background: linear-gradient(90deg, $es-yellow01 50%, $es-yellow02 50%);
    }
    &:nth-child(3){
      background: linear-gradient(90deg, $es-orange01 50%, $es-orange02 50%);
    }
    &:nth-child(4){
      align-self: center;
      background-image: url(../img/04-compre.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: grid;
      place-items: center;
      height: 100%;
      width: 100%;
      
    }
  }