@font-face {
  font-family: "cera_problack";
  src: url("../fonts/cera_pro_black-webfont.woff2") format("woff2"), url("../fonts/cera_pro_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cera_probold";
  src: url("../fonts/cera_pro_bold-webfont.woff2") format("woff2"), url("../fonts/cera_pro_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cera_proregular";
  src: url("../fonts/cera_pro_regular-webfont.woff2") format("woff2"), url("../fonts/cera_pro_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  font-family: cera_problack, "Trebutchet MS", Arial, Helvetica, sans-serif;
}

h2,
h3 {
  font-family: cera_probold, "Trebutchet MS", Arial, Helvetica, sans-serif;
}

p {
  font-family: cera_proregular, "Trebutchet MS", Arial, Helvetica, sans-serif;
}

.margin {
  margin: 16px;
}

.es-centered {
  display: grid;
  place-items: center;
}
.es-centered h1 {
  text-align: center;
  font-size: clamp(1rem, 0.8039rem + 0.9804vw, 1.75rem);
  background-color: white;
  padding: 0.5rem;
  border: 2px solid black;
  position: absolute;
}
.es-centered h2 {
  text-align: center;
  font-size: clamp(0.75rem, 0.462rem + 1.1438vw, 1.5rem);
  position: absolute;
  width: 10ch;
}

@media screen and (min-width: 600px) {
  .es-centered h1 {
    background-color: unset;
    border: unset;
  }
}
.es-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  align-content: start;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
}

.es-grid-first {
  grid-column: 1/3;
}

@media screen and (min-width: 600px) {
  .es-grid-container {
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
  }
  .es-grid-last {
    grid-column: 3/5;
  }
}
.es-grid-item {
  align-content: start;
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 60px;
  align-content: start;
  justify-content: center;
  align-items: end;
}
.es-grid-item img {
  padding: 1rem;
  width: 100%;
  height: auto;
}

.es-grid-container-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 150px 1fr 1fr 2rem;
  place-items: center;
  outline: 1px solid green;
}
.es-grid-container-card-head-L {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  place-items: center;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  outline: 1px solid orange;
}
.es-grid-container-card-head-L img {
  max-height: 70px;
  max-width: 100px;
}
.es-grid-container-card-head-R {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  outline: 1px solid blue;
}
.es-grid-container-card-head-R img {
  max-height: 100px;
}
.es-grid-container-card-body {
  grid-row: 2/4;
  grid-column: 1/3;
  outline: 1px solid red;
}
.es-grid-container-card-footer {
  grid-row: 4/5;
  grid-column: 1/2;
  align-self: start;
  justify-self: start;
  margin-left: 1rem;
  outline: 2px solid yellow;
}

figcaption {
  height: 3rem;
}

.es-flex-container-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  align-content: end;
  justify-content: space-evenly;
  outline: 1px solid yellow;
}

.es-flex-container-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
}
.es-flex-container-row img {
  max-height: 2rem;
  max-width: 50px;
}

.es-main {
  max-width: 1544px;
  margin: auto;
}

.es-centered img {
  width: 100%;
}

.es-figcaption-red {
  padding: 0.7rem;
  text-align: center;
  font-family: cera_probold;
  letter-spacing: 0.13rem;
  width: 100%;
  background-color: #da1a21;
  color: white;
  font-size: clamp(0.75rem, 0.5539rem + 0.9804vw, 1.5rem);
}

.es-grid-container .es-grid-item:nth-child(1) {
  background: linear-gradient(90deg, #00a449 50%, #008846 50%);
}
.es-grid-container .es-grid-item:nth-child(2) {
  background: linear-gradient(90deg, #fff472 50%, #ffd100 50%);
}
.es-grid-container .es-grid-item:nth-child(3) {
  background: linear-gradient(90deg, #ff9550 50%, #ff7e06 50%);
}
.es-grid-container .es-grid-item:nth-child(4) {
  align-self: center;
  background-image: url(../img/04-compre.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

#es-categories-age h3 {
  color: white;
}
#es-categories-age figure:nth-of-type(1) figcaption {
  background: linear-gradient(90deg, #006cb7 50%, #96ceea 50%);
}
#es-categories-age figure:nth-of-type(2) figcaption {
  background: linear-gradient(90deg, #9d1c20 50%, #dd1a22 50%);
}
#es-categories-age figure:nth-of-type(3) figcaption {
  background: linear-gradient(90deg, #00682c 50%, #00b143 50%);
}
#es-categories-age figure:nth-of-type(4) figcaption {
  background: linear-gradient(90deg, #ffad00 50%, #ffd500 50%);
}
#es-categories-age figure:nth-of-type(5) figcaption {
  background: linear-gradient(90deg, #ff59a1 50%, #ffafd0 50%);
}
#es-categories-age figure:nth-of-type(6) figcaption {
  background: linear-gradient(90deg, #000000 50%, #c7c1c0 50%);
}

#es-categories-theme .es-grid-container-card:nth-of-type(1) .es-grid-container-card-head-L {
  background-color: #006fba;
}
#es-categories-theme .es-grid-container-card:nth-of-type(1) .es-grid-container-card-head-R {
  background-color: #f5bbd7;
}
#es-categories-theme .es-grid-container-card:nth-of-type(2) .es-grid-container-card-head-L {
  background-color: #d25d8b;
}
#es-categories-theme .es-grid-container-card:nth-of-type(2) .es-grid-container-card-head-R {
  background-color: #4a2282;
}
#es-categories-theme .es-grid-container-card:nth-of-type(3) .es-grid-container-card-head-L {
  background-color: #000000;
}
#es-categories-theme .es-grid-container-card:nth-of-type(3) .es-grid-container-card-head-R {
  background-color: #d60008;
}
#es-categories-theme .es-grid-container-card:nth-of-type(4) .es-grid-container-card-head-L {
  background-color: #ffffff;
}
#es-categories-theme .es-grid-container-card:nth-of-type(4) .es-grid-container-card-head-R {
  background-color: #fff374;
}
#es-categories-theme .es-grid-container-card:nth-of-type(5) .es-grid-container-card-head-L {
  background-color: #0c0e0c;
}
#es-categories-theme .es-grid-container-card:nth-of-type(5) .es-grid-container-card-head-R {
  background-color: #f1f0f1;
}
#es-categories-theme .es-grid-container-card:nth-of-type(6) .es-grid-container-card-head-L {
  background-color: #ffffff;
}
#es-categories-theme .es-grid-container-card:nth-of-type(6) .es-grid-container-card-head-R {
  background-color: #01040b;
}
#es-categories-theme .es-grid-container-card:nth-of-type(7) .es-grid-container-card-head-L {
  background-color: #ffd200;
}
#es-categories-theme .es-grid-container-card:nth-of-type(7) .es-grid-container-card-head-R {
  background-color: #ffd200;
}
#es-categories-theme .es-grid-container-card:nth-of-type(8) .es-grid-container-card-head-L {
  background-color: #19325a;
}
#es-categories-theme .es-grid-container-card:nth-of-type(8) .es-grid-container-card-head-R {
  background-color: #fec011;
}

.es-divider {
  height: 40px;
  margin-block: 50px;
  background-position: right;
  background-size: cover;
}

@media screen and (min-width: 600px) {
  .es-divider {
    background-size: contain;
  }
}
.div-01 {
  background-image: url(../img/divider-01-long.png);
}

.div-02 {
  background-image: url(../img/divider-02-long.png);
}

.div-03 {
  background-image: url(../img/divider-03-long.png);
}

figure {
  outline: 2px solid red;
}/*# sourceMappingURL=styles.css.map */